/* app css stylesheet */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.box{
width:300px;
height:150px;
display: inline-block;
margin: auto;
margin-right:20px;
margin-top:20px;
background-color: white;
-webkit-box-shadow: 0 3px 15px 0 #000000;
-moz-box-shadow: 0 3px 15px 0 #000000;
box-shadow: 0 3px 15px 0 #000000;
vertical-align:bottom;
background: #f5f5f5; 
border-radius: 7px;
	
}
.red{
margin-left: 70px;
margin-top: 60px;
font-family: Arial Black; 
font-size: 48px;
color: red;

}
.blue{
margin-left:70px;
margin-top: 60px;
font-family: Arial Black; 
font-size: 48px; 
color: blue;
}
.green{
margin-left:70px;
margin-top: 60px;
font-family: Arial Black; 
font-size: 48px; 
color:green;
}
.orange{
margin-left:70px;
margin-top: 60px;
font-family: Arial Black; 
font-size: 48px; 
color:orange;
}

.box2{
width:150px;
height:150px;
display: inline-block;
margin: auto;
margin-right:20px;
margin-top:20px;
background-color: white;
-webkit-box-shadow: 0 3px 15px 0 #000000;
-moz-box-shadow: 0 3px 15px 0 #000000;
box-shadow: 0 3px 15px 0 #000000;
vertical-align:bottom;
background: #f5f5f5; 
border-radius: 7px;
}



