<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="https://pixabay.com/static/uploads/photo/2016/01/09/18/28/old-1130743_960_720.jpg">
        <span class="card-title">How to Play</span>
      </div>
      <div class="card-content">
        <p>The rule for this game is to tell the color of the text rather than meaning of the text.</p>
        <p>You have 30 seconds to answer the questions. Choose the color of the text by pressing the buttons below. Wrong answer will substract the score, while correct answer incrementing score.</p>
        <p>The buttons are intentially scrambled color.</p>
        </div>
        <div class="card-action">
          <a href="https://faculty.washington.edu/chudler/words.html">About Color Game</a>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/linghuaj/Angular-ColorGame/master/instructions.png">
        <span class="card-title">Example</span>
      </div>
      <div class="card-content">
       Here, even the text says "Green". But the actual color of the text is red. So you want to choose the button with the text RED.
      </div>
    </div>
</div>