<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="https://pmcvariety.files.wordpress.com/2015/06/inside-out-disney-12.jpg?w=670&h=377&crop=1">
        <span class="card-title">How to Play</span>
      </div>
      <div class="card-content">
        <p>The rule for this game is to tell the color of the text rather than meaning of the text.</p>
        <p>You have 30 seconds to answer the questions. Choose the color of the text by pressing the buttons below. Wrong answer will substract the score, while correct answer incrementing score.</p>
        <p>The buttons are intentially scrambled color.</p>
        </div>
        <div class="card-action">
          <a href="https://faculty.washington.edu/chudler/words.html">About Color Game</a>
        </div>
      </div>
    </div>
</div>

Example:
<img src="https://pmcvariety.files.wordpress.com/2015/06/inside-out-disney-12.jpg?w=670&h=377&crop=1">
<p>
  Here, even the text says "Green". But the actual color of the text is red. So you want to choose the button with the text RED.
</p>