  <div class="row">
    <div class="col s12 m6">
     <div class="card darken-1">
      <div class="card-content">
        <span class="card-title">Instructions</span>
        <p>The rule for this game is to tell the color of the text rather than meaning of the text.</p>
        <p>You have 30 seconds to answer the questions. Choose the color of the text by pressing the buttons below. Wrong answer will substract the score, while correct answer incrementing score.</p>
        <p><b>The buttons are intentially scrambled color.</b></p>
      </div>
      <div class="card-action">
        <a href="https://faculty.washington.edu/chudler/words.html">About Color Game</a>
      </div>
    </div>
    
  </div>
  <div class="col s12 m6"><div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/linghuaj/Angular-ColorGame/master/instructions.png">
      <!-- <span class="card-title">Example</span> -->
    </div>
    <div class="card-content">
     Here, even the text says "Green". But the actual color of the text is red. So you want to choose the button with the text RED.
   </div>
 </div></div>
</div>