<!doctype html>
<html lang="en" ng-app="StroopGame">
<head>
  <meta charset="utf-8">
  <title>Stroop Color Game</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/ribbons.css"/>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.css"/>
  <link rel="shortcut icon" href="img/favicon2.ico">
  
</head>

<body ng-controller="StroopGameCtrl" ui-Keydown="{71 : 'clicked(\'green\')',82 : 'clicked(\'red\')','66' : 'clicked(\'blue\')','79' : 'clicked(\'orange\')' }">
	<div class="row-fluid" style="width:90%; margin-left:10%;margin-top:20px" >
		<div class="span8">
			<legend>Stroop Color Game | Countdown:<span ng-class='UI.countDownClass' ng-bind="game.countDown || '?'"></span></legend>		
			<div class="alert alert-block">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  Stroop Effect is a famous psychology game for testing reaction. Choose the color of the text by either clicking the button below or keypress. 
			  http://en.wikipedia.org/wiki/Stroop_effect
			</div>
			
			<div id="summary" ng-show="game.isStarted" ng-cloak>
			   Total right: {{game.rightCount}}, Total wrong:{{game.wrongCount}}, Total Answered {{game.rightCount+game.wrongCount}}</br>
			</div>
		
			<div class="row-fluid">		
				<div class="box">
					<div ng-class="game.quizClass">
						<span ng-bind="game.quizText || 'Color'"></span>				
					</div>
				</div>
				<div class="box2">
					<img ng-src={{UI.imgSrc}} style="width:100px; height:100px; margin-left:15%; margin-top:15%" ng-cloak></img>
				</div>
			</div>
			<div ng-show='UI.showStartButton' style="margin-top:20px; margin-bottom:20px;">		   
				<a class="btn btn-large btn-primary" ng-click="startGame()">Start Play!</a>
			</div>
			
			<div ng-show='UI.showGameButton' style="margin-top:20px; margin-bottom:20px;" ng-cloak>
				<a class="btn btn-large btn-danger" ng-click="clicked('green')">Green(G)</a>
				<a class="btn btn-large btn-info" ng-click="clicked('red')">Red(R)</a>
				<a class="btn btn-large btn-success" ng-click="clicked('orange')">Orange(O)</a>
				<a class="btn btn-large btn-warning" ng-click="clicked('blue')">Blue(B)</a>				
			</div>
				
			<div class="progress" style="width:800px">
				<div class="bar bar-success" style={{UI.rightLength}}></div>
				<div class="bar bar-danger" style={{UI.wrongLength}}></div>
			</div>		
        </div>
		<div class="span3">	
			<div class="accordion" id="accordion2">		
			  <div class="accordion-group">
				<div class="accordion-heading">
				  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					Rules
				  </a>
				</div>
				<div id="collapseTwo" class="accordion-body collapse in">
				  <div class="accordion-inner">
					The rule for this game is to tell the color of the text rather than meaning of the text. </br>
					You have <strong><span ng-bind="totalTime || '?'"></span>seconds </strong> to answer the questions. You may either choose the buttons indicating the color 
					or use keyboard: press"B":blue, press"G":green, press "R": red, press "O": orange.
					Wrong answer will substract the score, while correct answer incrementing score. </br>
					<strong>The buttons are intentially scrambled color. Try to use the button instead of keyPress, so you get more practice.</strong>
				  </div>
				</div>
			  </div>
			  
			    <div class="accordion-group">
				<div class="accordion-heading">
				  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					Top 10 players in the world
				  </a>
				</div>
				<div id="collapseOne" class="accordion-body collapse">
				  <div class="accordion-inner">
					Functionality to be added.
				  </div>
				</div>
			  </div>		  
			</div>
		 <div class="alert alert-info">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  Hint: You may cheat to press key to answer.  Don't use it if you consider yourself as Ninja!</br> press"B":blue, press"G":green, press "R": red, press "O": orange
		</div>
		</div>
   </div>
    <div ui-modal class="fade" ng-model="modalShown" id="myModal">
		<div class="modal-header">
			<h4>Result</h4>
			<a ng-click="modalShown=false">Close</a>
		</div>
		<div class="modal-body well">
			<p>In {{totalTime}} seconds, you answered total {{game.rightCount+game.wrongCount}} questions;</br>
			Of them {{game.rightCount}} is correct.  Of them {{game.wrongCount}} is wrong. </br>
			Remember, your score get subtracted when you have a wrong answer.
			Your total score is:{{game.totalScore}}.</br>
			Please Leave your name:</br>
			 <input type="text" placeholder="Your Name" ng-model="game.userName"></input>
			</p>
		</div>
					
		<div class="modal-footer">
			<button class="btn btn-info cancel" ng-click="modalShown=false">Save</button><!--save to database to be continued-->
			<button class="btn btn-warning cancel" ng-click="modalShown=false">Cancel</button>
		</div>
	</div>
	
	<hr/>
	<footer>
		</p>
			<span class="pull-right" style="margin-right:5%">
			   Linghua Jin 2013
				<a href="http://www.twitter.com/linghuaj"><img src="img/twitter.PNG"></a>
			</span>
		</p>
	</footer> 
	<div class="ribbon right purple">
			<a href="https://github.com/vanessachem/Angular-ColorGame">Github</a>
	</div>

	<script src="lib/jquery-1.7.2.min.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-ui.js"></script>
	<script src="lib/bootstrap.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	
	
</body>
</html>
